body{
  margin: auto;
  width: 60%;

}


.phonebase{
  padding-top: 50px;
  display: inline-block;

}
aside{
float: right;
display: inline-block;
border: 3px lightgray;
}
.topline{
  text-align: center;
  color: lightgray;
  font-size: 20px;
}
.LoginFB{
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 20px;
}
